@page
@model Flight.Pages.Flights.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flight.From)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight.To)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.To)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight.Stops)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.Stops)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight.departing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.departing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight.arrival)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.arrival)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flight.seatsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flight.seatsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flight.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
